#app {
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  place-content: center;
}

#app button {
  flex: calc(50% - 12px);
  border: none;
  background: rgb(246, 246, 246);
  padding: 0.75rem 2rem;
  border-radius: 0px;
}

#app button:hover {
  background: rgb(210, 228, 194);
}

body {
  margin: 0;
  box-sizing: border-box;
}

.playingCards {
  text-align: center;
}
.card {
  display: inline;
}
.player-hand,
.dealer-hand {
  margin: auto;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  place-content: center;
}
.player {
  display: block;
}
.player-hand {
  display: inline-table;
  transform: translateX(-48px);
}

.player-control {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  max-width: 260px;
  margin: auto;
}
.restart {
  display: block;
  width: 100%;
  margin: px 0;
}

.game-result {
  font-weight: 700;
}
.score {
  text-align: center;
}
footer {
  margin: auto;
}